<template name="Edit">
  <div class="new-client">
    <h4>Edit client</h4>

    <form class="col s12">
    {{#if getClient}}
        
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="" id="client_name" type="text" class="validate" value="{{getClient.client}}">
          <label for="client_name">Client Name</label>
        </div>
        <div class="input-field col s6">
          <input id="project_name" type="text" class="validate" value="{{getClient.projet}}">
          <label for="project_name">Poject Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <select class="browser-default" id="state">
            <option value="" disabled selected>Choose client state</option>
            <option value="Prospect">Prospect</option>
            <option value="Devis">Devis</option>
            <option value="Facture">Facture</option>
          </select>
          
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <select class="browser-default hide" id="etape">
            <option value="" disabled selected>Choose state etape</option>
            <option value="init">init</option>
            <option value="confirm">confirm</option>
            <option value="valid">valid</option>
          </select>
          
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <!-- Switch -->
          <span>Validate etape</span>
            <div class="switch">
            
              <label>
                No
                <input type="checkbox" id='valid' class="hide">
                <span class="lever"></span>
                Yes
              </label>
            </div>
          
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <button class="btn" type="submit" id="submit">Submit</button>
        </div>
      </div>
      {{/if}}
    </form>

</div>
</template>