<template name="ClientProject">
  <div class="client-project">
    <h4>All clients list</h4>
    <table>
      <thead>
        <tr>
          <th data-field="id">Client</th>
          <th data-field="name">Project</th>
          <th data-field="price">Etape</th>
          <th data-field="edit">Editer</th>
          <th data-field="edit">Go Curent state</th>
        </tr>
      </thead>

      <tbody>
        {{#each getAllClients}}
        <tr>
          <td>{{client}}</td>
          <td>{{projet}}</td>
          <td>{{state}}</td>
          <td><a href="edit/{{id}}" class="btn">Go</a></td>
          <td><a href="{{url}}/{{id}}" class="btn">Go</a></td>

        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>
