<template name="MasterLayout">
	<body>
		<div class="navbar-fixed">
			<nav class="indigo darken-4">
				<div class="container">	
					<div class="nav-wrapper">
						<a href="#" class="brand-logo">Erp 2042</a>
						<ul id="nav-mobile" class="right hide-on-med-and-down">
							<li>{{> loginButtons}}</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<main class="row">
			<div >	
				{{#if currentUser}}
				<div class="col s3">
					<div class="sidebar indigo darken-4">
						<div class="row">
							{{#each sidebar}}
							<a href="{{url}}">
								<div class="col s12 link">
									{{text}}
								</div>
							</a>
							{{/each}}

						</div>
					</div>
				</div>

				<div class="col s9">
					<!-- Teal page content  -->
					{{> yield}}
				</div>
				{{else}}
				<div class="col s12 home-center">
					<h3>
						Bienvenue sur ERP 2042 pour profiter de notre application merci de bien vouloir vous connectez
					</h3>
				</div>

				{{/if}}
			</div>
		</main>

		<footer class="page-footer indigo darken-4">
			<div class="footer-copyright ">
				<div class="container">
					© 2014 Copyright pigot_a comman_b
				</div>
			</div>
		</footer>
	</body>

</template>
